<h1>{{appTitle}} 🚀</h1>
<p>Welcome RootLearner!</p>
<div class='characters'>
    {{#each characters}}
        <section>
            <h2>{{this.name}}</h2>
            <img src="{{this.img}}" />
        </section>
    {{/each}}
</div>